body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:60px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:60px;
  width:1080px;
  height:1860px;
}
#u3 {
  position:absolute;
  left:2px;
  top:922px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u4 {
  position:absolute;
  left:65px;
  top:403px;
  width:59px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u4_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:962px;
  height:5px;
}
#u6 {
  position:absolute;
  left:61px;
  top:511px;
  width:959px;
  height:2px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-7px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:0px;
  top:60px;
  width:1080px;
  height:118px;
}
#u9 {
  position:absolute;
  left:2px;
  top:51px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u10 {
  position:absolute;
  left:13px;
  top:89px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#9A9999;
}
#u12 {
  position:absolute;
  left:428px;
  top:91px;
  width:232px;
  height:55px;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#9A9999;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:96px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:96px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:61px;
  top:204px;
  width:450px;
  height:96px;
}
#u15 {
  position:absolute;
  left:2px;
  top:40px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:96px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:96px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:570px;
  top:204px;
  width:450px;
  height:96px;
}
#u17 {
  position:absolute;
  left:2px;
  top:40px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u19 {
  position:absolute;
  left:95px;
  top:230px;
  width:34px;
  height:34px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:6px;
}
#u21 {
  position:absolute;
  left:102px;
  top:266px;
  width:20px;
  height:3px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:6px;
  background:inherit;
  background-color:rgba(154, 160, 176, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:605px;
  top:238px;
  width:28px;
  height:6px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:6px;
  background:inherit;
  background-color:rgba(154, 160, 176, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:605px;
  top:249px;
  width:16px;
  height:6px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-5px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:6px;
  background:inherit;
  background-color:rgba(154, 160, 176, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:605px;
  top:261px;
  width:22px;
  height:6px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#949494;
}
#u30 {
  position:absolute;
  left:198px;
  top:228px;
  width:177px;
  height:49px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#949494;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#949494;
}
#u32 {
  position:absolute;
  left:700px;
  top:228px;
  width:190px;
  height:49px;
  font-family:'方正兰亭黑简体 Regular', '方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#949494;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:61px;
  top:434px;
  width:959px;
  height:76px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u35 {
  position:absolute;
  left:65px;
  top:535px;
  width:73px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u35_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:962px;
  height:5px;
}
#u37 {
  position:absolute;
  left:61px;
  top:643px;
  width:959px;
  height:2px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-7px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:61px;
  top:566px;
  width:283px;
  height:76px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:135px;
}
#u40 {
  position:absolute;
  left:344px;
  top:513px;
  width:2px;
  height:132px;
}
#u41 {
  position:absolute;
  left:2px;
  top:58px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u42 {
  position:absolute;
  left:379px;
  top:535px;
  width:380px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u42_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:375px;
  top:566px;
  width:645px;
  height:76px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u45 {
  position:absolute;
  left:65px;
  top:667px;
  width:159px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u45_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#0099FF;
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:61px;
  top:698px;
  width:959px;
  height:76px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:136px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:136px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#949494;
}
#u48 {
  position:absolute;
  left:303px;
  top:1485px;
  width:475px;
  height:136px;
  font-family:'方正兰亭黑简体 Bold', '方正兰亭黑简体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#949494;
}
#u49 {
  position:absolute;
  left:2px;
  top:40px;
  width:471px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:962px;
  height:5px;
}
#u50 {
  position:absolute;
  left:61px;
  top:774px;
  width:959px;
  height:2px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-7px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
